img{
    height: 200px;
    width: 200px;
}

h2{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445)
}

